<p>directives-working works!</p>
@if (isMatn) {
    <p>Matn</p>
} @else {
    <p>Matn emas</p>
}
@for (item of items; track $index) {
    <ng-container>
        {{item}}
    </ng-container>
}
@switch (isMatn) {
    @case (true) {
        <p>Matn</p>
    }
    @case (false) {
        <p>Matn emas</p>
    }
    @default {
        <p>Matn emas</p>
    }
}

<ng-container 
    *ngFor="let item of [].constructor(5); let i = index; 
    odd as isOdd
    even as isEven
    first as isFirst
    last as isLast">
    <p [ngStyle]="{
        color:isEven ?'red':'blue',
        background: isFirst ? 'yellow':''
    }"> 
        Angular {{i+1}}
    </p>
</ng-container>
@for (item of items; track $index;) {
    @if($index % 2 == 0) {
        <ng-container style="color: blueviolet;">
            {{item}}
        </ng-container>
    }
} @empty {
    <p>Empty</p>
}
