<app-ng-content>
    <h1>Login</h1>
    <p class="description">Please enter your credentials</p>
    <p bob>Some title</p>
    <button>Go back</button>
</app-ng-content>

<!-- <div class="card-list">
    <ng-container 
        [ngTemplateOutlet]="card"
        [ngTemplateOutletContext]="{ title: 'Title 1', $implicit: 'body1'}"
    ></ng-container>
    <ng-container 
        [ngTemplateOutlet]="card"
        [ngTemplateOutletContext]="{ gap: 'Title 2', body: 'body2'}"
    ></ng-container>
    <ng-container 
        [ngTemplateOutlet]="card"
        [ngTemplateOutletContext]="{ gap: 'Title 3', $implicit: 'body3'}">
    </ng-container>
</div> -->

<!-- gap ng-container ichida berish uchun let-*** esa template ichida ishlatiladigan element uchun  -->
<ng-template #card let-title = 'gap' let-body>
    <div class="card">
        <h1>{{title}}</h1>
        <p>{{body}}</p>
    </div>
</ng-template>